[SETTINGS]
#list phone numbers allowed to send text messages separated with a comma. Include the 1
ALLOWED_PHONE_NUMBERS = 2066795094

# Old message detection
UTC_OFFSET = 8

# Do not process any message that is older than
# this number in minutes.
OLDEST_MESSAGE_TO_PROCESS = 60

#maximum time to run the heater in minutes. Whole numbers only
MAX_HEATER_TIME = 90

#where to store to logfile
LOGFILE_DIRECTORY = ./
DEBUGGING_LOGFILE_DIRECTORY = ./ 

# Modem settings
# Pin numbers are in BOARD pin numbers, NOT GPIO numbers.
SERIAL_PORT = /dev/ttyUSB0
BAUDRATE = 9600
POWER_STATUS_PIN = 16
RING_INDICATOR_PIN = 18

# Heater pin. Takes the value in BOARD pin numbering, NOT GPIO numbers
HEATER_PIN = 22

#set to True if you have an MQ2 gad sensor attached
MQ2 = True

# Set to true if you have a temperature probe attached.
TEMP = True

# Is the light sensor enabled?
LIGHT_SENSOR = True
HANGAR_DARK = 20
HANGAR_DIM = 60
HANGAR_LIT = 90

# Enable the Display?
DISPLAY_ENABLED = True

# Set if you want to run this without sending messages
TEST_MODE = False
